[Unit]
Description=camip at startup
After=network.target auditd.service

[Service]
ExecStart=/data/script/camip/camip.sh

[Install]
WantedBy=default.target
